<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="'/products'">Products</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      {{ title }}
    </li>
  </ol>
</nav>

<h1>{{ title }}</h1>
