<div class="container">
  <div class="row">
    <div class="col">

      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['/']" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['/users']">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['/todo']">Todo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['/products']">Products</a>
        </li>
      </ul>

    </div>
  </div>

  <div class="row">
    <div class="col">

      <router-outlet></router-outlet>

    </div>
  </div>

</div>
footer
